# Angular specific
/my-app/dist/
/my-app/out-tsc/
/my-app/tmp/
/my-app/coverage/
/my-app/e2e/test-output/
/my-app/.angular/
/my-app/.angular/

# Node modules and dependency files
/my-app/node_modules/
/my-app/package-lock.json
/my-app/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/my-app/.angular-cli.json
/my-app/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
